<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OWM_API_KEY</key>
	<string>$(OWM_API_KEY)</string>
	<key>TOMORROW_API_KEY</key>
	<string>$(TOMORROW_API_KEY)</string>
	<key>GCP_API_KEY</key>
	<string>$(GCP_API_KEY)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>WeatherApp needs your location to provide accurate weather forecasts.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>WeatherApp needs your location to provide accurate weather forecasts and background updates.</string>
	<key>CLOUD_RUN_PROXY_API_KEY</key>
	<string>$(CLOUD_RUN_PROXY_API_KEY)</string>
	<key>CLOUD_RUN_PROXY_URL</key>
	<string>$(CLOUD_RUN_PROXY_URL)</string>
</dict>
</plist>
