<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>WeatherApp needs your location to provide accurate weather forecasts.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>WeatherApp needs your location to provide accurate weather forecasts and background updates.</string>
	<key>CLOUD_RUN_PROXY_API_KEY</key>
	<string>12e41cad6b1132308c75673905f0f17220623e481366f584f1f1d730ae1c6f78</string>
	<key>CLOUD_RUN_PROXY_URL</key>
	<string>https://weather-proxy-777152718569.us-central1.run.app</string>
</dict>
</plist>
